 h1,p{
    text-align:center
}

h1 {
    font-weight: bold;
    color: whitesmoke;
}

p{
    margin-bottom: 15px;
    color: white;
    padding-right: 15px;
    padding-left: 15px;
    
}

body {
    background-color: rgb(28, 28, 61);
    width: 350px;
    height: 550px;
} 

main {
    display: flex;
    flex-flow: column;
}
.add {
    font-size: 3em;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
    padding: 4px 13px 4px 13px;
    background-color: white;
    color: rgb(28, 28, 61);
    border-radius: 10px;
}

.add:hover {
    background-color: rgb(142, 215, 233);
    color: white;
    cursor: pointer;
}

.champs {
    text-align: center;
}

.input {
    margin-top: 5px;
    font-size: 1.25em;
}

.valid {
    background-color: rgb(28, 28, 61);
    font-size: 2em;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
    padding: auto;
    border: none;
    margin-top: 12px;
} 
.valid:hover {
    cursor: pointer;
}

.liste {
    margin: auto;
    border: solid rgb(62, 62, 121);
    border-radius: 10px;
    background-color: rgb(62, 62, 121);
    height: 330px;
    width: 250px;
}

h2{
    font-size: 1rem;
    margin-bottom: 5px;
    text-align: center;
    color: antiquewhite;
    
} 

.bulle {
    border: solid rgb(72, 180, 207);
    border-radius: 10px;
    background-color: rgb(142, 215, 233);
    height: 50px;
    width: 230px;
    margin: auto;
    margin-top: 7px;
    display: flex;
    justify-content: space-between;
    color: white;
    font-weight: bold;
}